body {
  background-image: url("img/shape_background.png");
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.header {
	margin: auto;
	margin-top: 50px;
	width: 40%;
	font-size: 25px;
	color:white;
	border: 3px solid white;
	border-radius: 100px;
}

.main-content{
	margin-top: 50px;
	width: 100%;
	/* border: 3px solid red; */
}


.about-me{
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	width: 30%;
	font-size: 16px;
	color:white;
	/* border: 3px solid white; */
}

.useful-links{
	display: inline-block;
	vertical-align: top;
	color:white;
	width:30%;
	/* border: 3px solid white; */
}

.contact{
	display: inline-block;
	vertical-align: top;
	color:white;
	width:30%;
	/* border: 3px solid white; */
}

.projects{
	display: inline-block;
	margin-left: 50px;
	/* vertical-align: top; */
	color: white;
	width: 80%;
	/* border: 3px solid red; */
}

td{
	/* border: 3px solid white; */
	padding:20px;
	vertical-align: top;
}

.project_table{
	vertical-align: top;
	/* border: 3px solid white; */
}

td:hover{
	opacity: 80%;
}

.project_title{
	text-align: center;
	font-size: 30px;
	color:white;
}